
<div class="herotron">
    <img class="mySlides" src="./css/images/background-splash.jpg" style="width:100%">
    <img class="mySlides" src="./css/images/background-donut.jpg" style="width:100%">
    <img class="mySlides" src="./css/images/background-cactus.jpg" style="width:100%">

    <button class="button black display-left" id="left-click">&#10094;</button>
    <button class="button black display-right" id="right-click"onclick="plusDivs(1)">&#10095;</button>
</div>
