    <div class="container mt-3">
        <div class="herotron">
            <img class="mySlides" src="css.images/background-snap.jpg" style="width:100%">
            <img class="mySlides" src="css/images/background-donut.jpg" style="width:100%">
            <img class="mySlides" src="css/images/background-cactus.jpg" style="width:100%">

            <button class="button black display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="button black display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
    </div>
