body {
    font-family: 'Kaushan Script', cursive;
}

.herotron{
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: blue;
}

::-moz-placeholder { /* Firefox 19+ */
    color: blue;
}

:-ms-input-placeholder { /* IE 10+ */
    color: pink;
}

:-moz-placeholder { /* Firefox 18- */
    color: pink;
}